header {
    background-color: #157299;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 36px;
}

header a,
header a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav-left { 
    float: left;
}

.nav-left a {
    margin-top: 3px;
    margin-left: 16px;
    font-size: 18pt;
}

.nav-right {
    float: right;
}

.nav-right a {
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12pt;
}

.btn-nav {
    cursor: pointer;
}

.clearfix {
    clear: both;
}