<div class="sidebar">
    <a class="link-sidebar" routerLink="/dashboard" routerLinkActive="active-sidebar">
        <span class="icon-link-sidebar"><i class="fa fa-home" aria-hidden="true"></i></span>
        <span class="text-link-sidebar">Dashboard</span>
    </a>
    <a class="link-sidebar" routerLink="/users" routerLinkActive="active-sidebar">
        <span class="icon-link-sidebar"><i class="fa fa-users" aria-hidden="true"></i></span>
        <span class="text-link-sidebar">Users</span>
    </a>
    <a class="link-sidebar" routerLink="/ideas" routerLinkActive="active-sidebar">
        <span class="icon-link-sidebar"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
        <span class="text-link-sidebar">Ideas</span>
    </a>
    <a class="link-sidebar" routerLink="/reports" routerLinkActive="active-sidebar">
        <span class="icon-link-sidebar"><i class="fa fa-flag" aria-hidden="true"></i></span>
        <span class="text-link-sidebar">Reports</span>
    </a>
</div>