.content-dashboard {
    height: 100%;
    padding-left: 252px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: -8px;
    background-color: #efefef;
}

.title-dashboard h1,
.title-dashboard h2 {
    font-weight: 100;
}

.title-dashboard h2 {
    color: #7c7c7c;
    font-size: 12pt;
    margin-bottom: 12px;
}