.login {
    overflow: hidden;
    margin-top: 80px;
}

.half {
    width: -webkit-calc(50% - 2px);
    width: -moz-calc(50% - 2px);
    width: -o-calc(50% - 2px);
    width: calc(50% - 2px); 

    height: 400px;
    float: left;
}

.login-left {
    text-align: right;
    border-right: 1px solid #e41a26;
}

.login-pic {
    margin-top: 15px;
    margin-right: 100px;
    width: 280px;
}

.login-right {
    border-left: 1px solid #e41a26;
}

.login-right h1 {
    margin-top: 80px;
}

.login-right h1, .form-login {
    margin-left: 40px;
}

.form-login {
    margin-top: 16px;
}

.txt-login {
    display: block;
    width: 400px;
    height: 24px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn-login {
    display: block;
    padding: 8px;
    font-size: 12pt;
}

.login-right h1 {
    font-weight: 300;
}